body{
    background-color: #fff;
    margin: 0;
    /*padding: 30px;*/
    font-family: 'Lato', sans-serif;
}
.logo-section{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.logo-section .logo{
    height: 50px;
}
.privacy-policy{
    background-color: #fff;
    padding: 25px 25px;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border: 1px solid #e6edf1;
}
.privacy-policy .title{   
    color: #dd1a1a;
    margin-top: 0;
    margin-bottom: 0px;
}
.privacy-policy p{
    margin: 0 0 20px 0;
    font-size: 14px;
}
.privacy-policy .sub-title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #0f77bb;
    display: flex;
    align-items: center;
}
.privacy-policy .sub-title img,.privacy-policy ul li img{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.privacy-policy .policy-list{
    margin: 0 0 20px 26px;
}
.privacy-policy ul{
    list-style: none;
    margin-bottom: 20px;
}
.privacy-policy ul li{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 14px;
}

@media only screen and (max-width:767px){
    body{/*padding: 10px 5px;*/}
    .privacy-policy .title{font-size: 25px;}
    .privacy-policy .sub-title{font-size: 16px;}
    .privacy-policy .sub-title img{height: 14px;width: 14px;}
    /*.privacy-policy{padding: 25px 15px;}*/
    .privacy-policy p ,.privacy-policy ul li{font-size: 12px;}
}
