#default-loader {
      position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: hsla(0, 0%, 0%, .5);
    top: -143px;
    left: 0px; 
}
#default-loader img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


table.dataTable{ width: 100% !important;}
.content-wrapper{ 
    // min-height: 100% !important;
}
.table tr td button.btn{ width: auto; margin: 0px auto; }
@media(max-width:767px){ 
    .xs-responsive { max-width: 800px; overflow-x: auto; }
    .main-header .logo .logo-lg{max-width: 150px!important;margin: 10px auto 0px!important;}
    .skin-blue .content-header{margin-top: 65px !important;}
    #default-loader{top: -257px;}
}

.error { color: red; padding-top: 5px; }
.login-page-logo { max-height: 200px; }
.main-header .navbar{height: 50px !important;}

.main-sidebar{padding-top: 121px !important;}
.main-header .logo{height: 120px !important;}
.main-header .logo-lg img{height: 100% !important;width: 100% !important;}
.main-header .logo-mini img{height: 100% !important;width: 100% !important;}
a .logo { position: absolute; height: 110px; }
.login-box{ margin-top:15px;}



 @media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .main-sidebar{
            padding-top: 50px !important;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo{height: 50px !important;}
}

.label-value { color: #c36868; margin-left: 10px; font-weight: 600; }